parameters:
    database_driver:   pdo_pgsql
    database_host:     127.0.0.1
    database_port:     5432
    database_name:     medikly
    database_user:     postgres
    database_password: ~

    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_port:       ~
    mailer_encryption: ~
    mailer_user:       ~
    mailer_password:   ~

    # WebSocket server config
    websocket_host:    "127.0.0.1"
    websocket_port:    8080

    session_handler:   session.handler.native_file

    locale:            en
    secret:            ThisTokenIsNotSoSecretChangeIt
    installed:         ~

    # Elasticsearch
    search_engine_name:       orm
    search_engine_host:       127.0.0.1
    search_engine_port:       null
    search_engine_username:   null
    search_engine_password:   null
    search_engine_auth_type:  null

    # Enterprise
    enterprise_licence:       null

    tracker_site_id: 1

    assets_version:    ~
    assets_version_strategy: time_hash # A strategy should be used to generate the global assets version, can be:
                                       # null        - the assets version stays unchanged
                                       # time_hash   - a hash of the current time
                                       # incremental - the next assets version is the previous